* {
    box-sizing: border-box
}
  
html {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #000;
}
  
.stickers {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

label {
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
}

img{
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

input{
    padding: 10px;
    border: 1px solid #fff;
    height:50px;
    width: 50%;
}

button {
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
    animation: 2s linear 0s infinite normal none running fNRXvU;
    background-position: 0% 100%;
    padding: 10px;
    border: none;
    /* width:50px; */
    height:50px;
    color: #fff
}