* {
    box-sizing: border-box
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
  }
  
  #root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    margin: 0 0 2rem 0;
  }

  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }
  
  h2, h3 {
    text-transform: capitalize;
  }
  
  p, h2, h3 {
    margin: 0;
  }
  
  .authors {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    padding: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    background-color: #FF5964;
    text-align: center;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
}

.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, .3);
}
  
  .error{
    text-align: center;
    display: block;
    font-size: 1.2em;
    color: #3B4CCA;
  }

  button{
    background: none;
    border: none;
    color: white;
    font-size: 2em;
  }
  
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  
  .card:nth-child(2n) {
    background-color: #35A7FF;
  }
  
  .card:nth-child(4n) {
    background-color: #E5D044;
  }
  
  .card:nth-child(5n) {
    background-color: #38618C;
  }
  